/MyProject_Assigmment/nbproject/private/
/WebApplication1/nbproject/private/
/JspCustomtag/nbproject/private/
/JspCustomtag/build/
/test/nbproject/private/
/Demojsp/nbproject/private/
/Demojsp/build/
/googletest login/nbproject/private/
/googletest login/build/
/mv1_demo/nbproject/private/
/pt2/nbproject/private/
/pt2/build/
/Chuvidientich/nbproject/private/
/Chuvidientich/build/
/Calcu-mark/nbproject/private/
/Calcu-mark/build/
/SumJsp/nbproject/private/
/SumJsp/build/
/Q1/nbproject/private/
/Q1/build/
/BTApprj/nbproject/private/
/BTApprj/build/
/EmployeeServlet/nbproject/private/
/demodata/nbproject/private/
/DemoLaptop/nbproject/private/
/DemoLaptop/build/
/demostuden/nbproject/private/
/Q1_Falll20_bl5/nbproject/private/
/Q1_Falll20_bl5/build/
/Q1_giaithua/nbproject/private/
/Q1_giaithua/build/
/PE6_Q1_M1/build/
/PE6_Q1_M1/nbproject/private/
/Q2/nbproject/private/
/Q2/build/
/Q2/dist/
/Q1_B9/nbproject/private/
/Q1_B9/build/
